doctype html
html
  head
    meta(charset='utf-8')
    title Ericson Luciano – Front-end Developer & UI Designer
    link(rel='shortcut icon', type='image/png', href='favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href='main.css')

    meta(content='A Front-end Developer and UI Designer specialized in the web and mobile apps.', name='description')
    meta(content='A Front-end Developer and UI Designer specialized in the web and mobile apps.', property='og:description')
    meta(content='images/cover.jpg', property='og:image')
    meta(content='Ericson Luciano – Front-end Developer & UI Designer', property='og:title')
    meta(content='Ericson Luciano – Front-end Developer & UI Designer', property='og:site_name')
    meta(content='EricsonLuciano', property='fb:admins')
    meta(content='website', property='og:type')

    != '<!--[if lt IE 9]>'
    script(src='https://cdn.jsdelivr.net/nwmatcher/1.2.5/nwmatcher.min.js')
    script(src='https://cdn.jsdelivr.net/json2/0.2/json2.min.js')
    script(src='https://cdn.rawgit.com/gisu/selectivizr/1.0.3/selectivizr.js')
    script(src='https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
    script(src='https://cdn.jsdelivr.net/es5.shim/4.4.1/es5-shim.min.js')
    != '<![endif]-->'

  body
    block body
    script(src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
    script(src='scripts.js')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-91814758-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-91814758-1');
