doctype html
html
  head
    meta(charset='utf-8')
    title App
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' href='/main.css')

    != '<!--[if lt IE 9]>'
    script(src='https://cdn.jsdelivr.net/nwmatcher/1.2.5/nwmatcher.min.js')
    script(src='https://cdn.jsdelivr.net/json2/0.2/json2.min.js')
    script(src='https://cdn.rawgit.com/gisu/selectivizr/1.0.3/selectivizr.js')
    script(src='https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
    script(src='https://cdn.jsdelivr.net/es5.shim/4.4.1/es5-shim.min.js')
    != '<![endif]-->'

  body
    block body
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
    script(src='/scripts.js')
