// Colors
$white: #F5F8FE;
$black: #3A4250;
$primary-color: #A472D3;
$secondary-color: #C97182;
$background: #F5F8FE;

// Font Family
$font-family: 'RNSSanz', sans-serif;

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : $black;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : $black;
$header-size       : rem(50px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

// Links
$link-color: #A472D3;

// Type Misc
$font-weight-bold: 600;


$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$media-medium-max: (
    columns: 12,
    gutter: 20px,
    media: 'only screen and (max-width: 719px)'
);

$media-large-max: (
    columns: 12,
    gutter: 20px,
    media: 'only screen and (max-width: 990px)'
);
