.projects-section {
  width: 960px;
  margin: 0 auto;
  .projects-siglo {
    height: auto;
  }
  .projects {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 1s cubic-bezier(0.08, 0.96, 0.4, 0.99);
    transition: all 1s cubic-bezier(0.08, 0.96, 0.4, 0.99);
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    left: 0;
    &:before {
      content: '';
      background-color: #9DB1BA;
      width: 110%;
      height: 100%;
      position: absolute;
      left: 10px;
      top: 0;
      z-index: 2;
      -webkit-transform: translateX(-120%);
      transform: translateX(-120%);
      -webkit-transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
      transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1) !important
    }

    &:after {
      content: '';
      background-color: #333333;
      width: 120%;
      height: 100%;
      position: absolute;
      left: 10px;
      top: 0;
      z-index: 3;
      -webkit-transform: translateX(-120%);
      transform: translateX(-120%);
      -webkit-transition: all 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
      transition: all 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important
    }

    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        z-index: 12;
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4)
    }

    .img-fluid {
        position: relative;
        -webkit-transform: translateX(-120%);
        transform: translateX(-120%);
        -webkit-transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
        transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }
  }
}

.animation-start {
  .projects {
    width: 100%;
    left: 0;
    .img-fluid {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    &:before {
        -webkit-transform: translateX(120%);
        transform: translateX(120%);
    }
    &:after {
    -webkit-transform: translateX(120%);
    transform: translateX(120%)
    }
  }
}
