extends ../layouts/base.pug

block body
  header(class='header header-section')
    div(class='container')
      h1(class='intro') 
        | Hello! I'm 
        span(class='name') Eric
        | . 👋🏼
      h5
        | I'm a Front-end Developer and UI Designer specialized in the web and mobile apps.
  main(class='about about-section')
    div(class='container')
      p(class='message')
        | Currently working as a UI Designer at 
        a(href='http://www.agentbox.com.au', target='_blank') Agentbox
        | , I'm working with their Web and Mobile Apps. I have over 4 years of experience designing & developing websites, newsletters, landing page also a mobile application.
      p(class='message')
        | When I’m not designing, I spend my time on listening and watching to live indie bands and volunteering in 
        a(href='https://devcon.ph', target='_blank') DevCon
        | . Learning backend stuff like Ruby on Rails.
      p(class='message')
        | If you have an exciting project or have a question or want to say hello to just reach me out at 
        a(href='mailto:hello@ericsonluciano.com', target='_blank') hello@ericsonluciano.com
        | . and here my 
        a(href='files/ericsonluciano_cv.pdf', target='_blank') Curriculum Vitae 
        |  Also, let's connect on  
        a(href='https://www.twitter.com/ericsonluciano', target='_blank') Twitter
        | , 
        a(href='https://www.dribbble.com/ericsonluciano', target='_blank') Dribbble
        | , 
        a(href='https://www.instagram.com/ericsonluciano', target='_blank') Instagram
        |  and 
        a(href='https://www.linkedin.com/in/ericsonluciano', target='_blank') Linkedin
        | . This is my temporary site at this moment. ✌🏼
        
