.header-section {
  margin-top: 7rem;
  @include grid-container;
}

.about-section {
  @include grid-container;
  margin-top: 1.5rem;
}


.about-section {
  margin-bottom: 3rem;
  > .container {
    @include grid-shift(1);
    @include grid-column(6);

    @include grid-media($media-large-max) {
      @include grid-shift(1);
      @include grid-column(8);
    }
    @include grid-media($media-medium-max) {
      @include grid-shift(0);
      @include grid-column(12);
    }

    > .message {
      margin-top: 1rem;
      font-weight: 400;
    }
  }
}
