.header-section {
  > .container {
    @include grid-shift(1);
    @include grid-column(5);

    @include grid-media($media-large-max) {
      @include grid-shift(1);
      @include grid-column(8);
    }

    @include grid-media($media-medium-max) {
      @include grid-shift(0);
      @include grid-column(12);
    }

    > .intro {
      text-transform: uppercase;
    }

    > .intro > .name {
      color: $primary-color;
      font-weight: 700;
    }

  }
}
