@font-face {
    font-family:'RNSSanz';
    src: url('../fonts/RNSSanz-Bold.eot');
	src: local('RNSSanz-Bold'), local(RNSSanz-Bold),
		url('../fonts/RNSSanz-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RNSSanz-Bold.woff2') format('woff2'),
		url('../fonts/RNSSanz-Bold.woff') format('woff'),
		url('../fonts/RNSSanz-Bold.ttf') format('truetype'),
		url('../fonts/RNSSanz-Bold.otf') format('opentype'),
		url('../fonts/RNSSanz-Bold.svg#z Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0327;
}

@font-face {
    font-family:'RNSSanz';
    src: url('../fonts/RNSSanz-Light.eot');
	src: local('RNSSanz-Light'), local(RNSSanz-Light),
		url('../fonts/RNSSanz-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RNSSanz-Light.woff2') format('woff2'),
		url('../fonts/RNSSanz-Light.woff') format('woff'),
		url('../fonts/RNSSanz-Light.ttf') format('truetype'),
		url('../fonts/RNSSanz-Light.otf') format('opentype'),
		url('../fonts/RNSSanz-Light.svg#z Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0327;
}

@font-face {
    font-family:'RNSSanz';
    src: url('../fonts/RNSSanz-Medium.eot');
	src: local('RNSSanz-Medium'), local(RNSSanz-Medium),
		url('../fonts/RNSSanz-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RNSSanz-Medium.woff2') format('woff2'),
		url('../fonts/RNSSanz-Medium.woff') format('woff'),
		url('../fonts/RNSSanz-Medium.ttf') format('truetype'),
		url('../fonts/RNSSanz-Medium.otf') format('opentype'),
		url('../fonts/RNSSanz-Medium.svg#z Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0327;
}

@font-face {
    font-family:'RNSSanz';
    src: url('../fonts/RNSSanz-Normal.eot');
	src: local('RNSSanz-Normal'), local(RNSSanz-Normal),
		url('../fonts/RNSSanz-Normal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RNSSanz-Normal.woff2') format('woff2'),
		url('../fonts/RNSSanz-Normal.woff') format('woff'),
		url('../fonts/RNSSanz-Normal.ttf') format('truetype'),
		url('../fonts/RNSSanz-Normal.otf') format('opentype'),
		url('../fonts/RNSSanz-Normal.svg#z Normal') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0327;
}

@font-face {
    font-family:'RNSSanz';
    src: url('../fonts/RNSSanz-SemiBold.eot');
	src: local('RNSSanz-SemiBold'), local(RNSSanz-SemiBold),
		url('../fonts/RNSSanz-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RNSSanz-SemiBold.woff2') format('woff2'),
		url('../fonts/RNSSanz-SemiBold.woff') format('woff'),
		url('../fonts/RNSSanz-SemiBold.ttf') format('truetype'),
		url('../fonts/RNSSanz-SemiBold.otf') format('opentype'),
		url('../fonts/RNSSanz-SemiBold.svg#z SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0327;
}
