// Make type normal across browsers
*, html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $font-family;
}


// Headers
h1, h2, h3, h4, h5, h6 {
  color: $black;
  line-height: $header-line-height;
  font-weight: 700;
  letter-spacing: 0;
}

h1 {
  font-size: $header-size;
}

h2 {
  font-size: $header-size / 1.3;
}

h3 {
  font-size: $header-size / 1.5;
}

h4 {
  font-size: $header-size / 1.7;
}

h5 {
  font-size: $header-size / 1.8;
}

h6 {
  font-size: $header-size / 2;
}



// Paragraphs
p {
  margin-top: $paragraph-margin;
  font-size: $paragraph-size;
  line-height: $paragraph-line-height;
  color: $paragraph-color;

  &:first-of-type {
      margin-top: 0;
  }
}



// Links
a {
  color: $link-color;
  text-decoration: none;
  @include transition(all .2s ease);
  font-weight: 600;
  padding-bottom: 2px;
  &:hover {
    color: darken($link-color, 10%);
    border-bottom: 2px solid darken($link-color, 10%);
    padding-bottom: 2px;

  }
}
